design/
docs/
!node_modules/uikit/src/scss/variables-theme.scss
!node_modules/uikit/src/scss/mixins-theme.scss
!node_modules/uikit/src/scss/uikit-theme.scss

.Saved/
_arc/
bower_components/
node_modules/
package-lock.json
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
.publish
ex_files
Thumbs.db
__MACOSX
