.breadcrumbs {
  margin-bottom: 25px;

  @media (min-width: $screen-md) {
    margin-bottom: 30px;
  }

  $block-name:                &; // #{$block-name}__element

  li {
    max-width: 100%;

    a,
    span {
      display: inline;
    }
  }
}
