.our-vision {
  // background-color: $main-color;

  @media (min-width: $screen-md) {
    background: linear-gradient(to right, $main-color, $main-color 50%, $white 50%);
  }

  $block-name:                &; // #{$block-name}__element

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    padding: 0 20px;

    @media (min-width: $screen-md) {
      padding: 20px;
    }
  }

  &__text {
    padding-left: 0;

    @media (min-width: $screen-md) {
      padding-left: 20px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 40px;
    }
  }
}
