.team-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  $block-name:                &; // #{$block-name}__element

  .uk-card-media-top {
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .uk-card-body {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    @media (min-width: $screen-xl) {
      padding: 30px 20px;
    }
  }

  &__position {
    margin-top: 0;
  }

  &__email {
    margin-top: auto;
  }
}
