.about-program {
  background-color: $main-color;

  @media (min-width: $screen-md) {
    background: linear-gradient(to left, $main-color, $main-color 50%, $white 50%);
  }

  $block-name:                &; // #{$block-name}__element

  &__text {
    padding-right: 20px;
    padding-left: 0;

    @media (min-width: $screen-md) {
      padding-left: 0;
    }

    @media (min-width: $screen-xl) {
      padding-right: 40px;
      padding-left: 0;
    }
  }
}
