.logo {
  display: block;
  white-space: nowrap;
  //width: 219px;
  width: auto;
  //min-height: 34px;
  height: 34px;
  padding-right: 5px;

  @media (min-width: $screen-md) {
    //width: 258px;
    width: auto;
    height: 40px;
    //height: auto;
  }

  @media (min-width: $screen-xl) {
    //width: 361px;
    width: auto;
    height: 56px;
    //height: auto;
  }

  $block-name:                &; // #{$block-name}__element

  img {
    display: block;
    width: auto;
    height: 100%;
  }

  &--decor {
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      //z-index: 1;
      top: 0;
      bottom: 0;
      right: -25px;
      width: 25px; //30, 40
      height: 100%;
      background: linear-gradient(to right top, $second-color, $second-color 50%, $white 50%);

      @media (min-width: $screen-md) {
        right: -30px;
        width: 30px;
      }

      @media (min-width: $screen-xl) {
        right: -40px;
        width: 40px;
      }
    }
  }

  &--footer {
    height: 36px;

    @media (min-width: $screen-md) {
      height: 42px !important;
    }
  }
}
