.announcement {

  $block-name:                &; // #{$block-name}__element

  &__body {
    padding: 20px;

    @media (min-width: $screen-md) {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 40px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
    }
  }
}
